@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');
@import "tailwindcss";

/* Global font smoothing and base styles */
html,
body {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #111;
}


* {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.dashed-line {
  position: relative;
  border-top: 2px dashed #6b7280;
  width: 80%;
  margin: 0 auto;
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-gradient-overlay {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
}

.rich-editor {
  overflow: visible !important;
}

.rich-editor .ql-container {
  height: 200px;
}

.rich-editor .ql-editor {
  height: 100%;
  /* minimum editor height */
  overflow-y: auto;
  /* scroll when content exceeds max */
  line-height: 1.6;
}

.rich-editor .ql-toolbar .ql-picker-options {
  max-height: 200px;
  overflow-y: auto;
  z-index: 9999 !important;
}

.rich-editor .ql-editor::-webkit-scrollbar {
  width: 6px;
}

.rich-editor .ql-editor::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 6px;
}

.rich-text-content img {
  display: block;
  margin: 16px auto;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}